# API Gateway
PORT=8080

# Microservices
AUTH_SERVICE_URL=http://localhost:4101
CONTENT_SERVICE_URL=http://localhost:4102
MEDIA_SERVICE_URL=http://localhost:4103
SCHEDULE_SERVICE_URL=http://localhost:4104
